@import '../../assets/styles/templates.scss';
@import '../../assets/styles/colors.scss';

.form {
  padding: 20px;
  .input,
  .submit {
    display: inline-block;
    width: 100%;
    margin: 10px 0;
    padding: 20px 24px;
    border: 2px solid $white;
    border-radius: 4px;
  }

  .input {
    color: $text-light;
  }

  .submit {
    margin-top: 20px;
    text-transform: uppercase;
    color: $white;
    background-color: $accent-color;
    border-color: $accent-color;
    font-weight: 600;
    @media screen and (max-width: 512px) {
      margin-top: 10px;
    }
  }

  .input::placeholder {
    color: $text-grey;
  }

  .checkboxLabel {
    font: 400 0.8125rem/1.25 'Gotham', sans-serif;
    cursor: pointer;
    text-transform: capitalize;
    @media screen and (max-width: 512px) {
      text-align: center;
      padding: 5px 0;
      margin: 5px 0;
    }
  }

  .checkboxLabel input {
    margin-right: 10px;
  }

  .link {
    text-transform: capitalize;
    font: 400 0.8125rem/1.25 'Gotham', sans-serif;
    text-decoration: none;
    @media screen and (max-width: 512px) {
      padding: 5px 0;
      margin: 5px 0;
    }
  }

  .flex {
    @extend %flex;
    justify-content: space-between;
    align-items: center;
    @media screen and (max-width: 512px) {
      flex-direction: column;
    }
  }

  .valid {
    border-color: $valid-color;
  }

  .invalid {
    border-color: $invalid-color;
  }

  .label {
    position: relative;
    flex-grow: 1;

    @media screen and (max-width: 512px) {
      width: 100%;
    }

    .errorMessage {
      font: 400 0.85rem/1.25 'Gotham', sans-serif;
      color: $white;
      background-color: $invalid-color;
      position: absolute;
      right: 0;
      top: 100%;
      width: 100%;
      margin-top: -8px;
      padding: 6px 24px;
      z-index: 10;
      border-radius: 4px;
      box-shadow: 0 0 25px 5px rgba(0, 0, 0, 0.25);
    }

    .errorMessage::before {
      content: '';
      position: absolute;
      left: 24px;
      top: -12px;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 18px 12px 18px;
      border-color: transparent transparent $invalid-color transparent;
    }
  }
}
