$text-color1: #ffffff;
$text-color2: #9ca8b7;
$text-color3: #333333;
$bg-color-blue: #3ea9f5;
$accent-color: #28d2d0;
$light-color: #d0fefe;
$dark-color: #1f3b4d;
$custom-color1: #ffa62b;
$custom-color2: #1b2431;
$valid-color1: #b9cc81;
$valid-color2: #33b864;
$valid-color3: #748500;
$invalid-color1: #fd5956;
$invalid-color2: #fa4224;
$invalid-color3: #f4320c;
$invalid-color4: #bb3f3f;
