$white: #ffffff;
$grey: #ddddff;

$text-light: #9ca8b7;
$text-grey: #757575;
$text-dark: #333333;

$selection-blue: #0e7efd;
$bg-blue: #3ea9f5;
$accent-color: #28d2d0;

$light-color: #d0fefe;
$dark-color: #1f3b4d;

$custom-color2: #1b2431;

$valid-color: #748500;
$medium-color: #ffa62b;
$invalid-color: #f4320c;
