@font-face {
  font-family: 'Gotham';
  font-weight: 300;
  src: url('../fonts/GothamLight.ttf') format('truetype');
}

@font-face {
  font-family: 'Gotham';
  font-weight: 400;
  src: url('../fonts/GothamBook.ttf') format('truetype');
}

@font-face {
  font-family: 'Gotham';
  font-weight: 500;
  src: url('../fonts/GothamMedium.ttf') format('truetype');
}

@font-face {
  font-family: 'Gotham';
  font-weight: 600;
  src: url('../fonts/GothamBold.ttf') format('truetype');
}
